:root {
  --dkGreen: #377b30;
  --green: #4caf50;
}
body {
  text-align: center;
  margin: 0 auto;
  width:50%;
  border-left: 15px solid var(--dkGreen);
  border-right: 15px solid rgb(13,42,32);
  border-top: 15px solid rgb(45,74,64);
  border-bottom: 15px solid var(--green);
}

input, .clear {
    margin: 20px auto;
    outline: none;
    padding: 14px;
    width: 150px;
    box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px #aaa;
    border-radius: 10px;
      }
table {
  background-color:rgb(222, 244, 237);
  width: 50vw;
}

